/*Zerando o css*/
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

header{
    background-color: rgb(12, 12, 12);
    height: 100px;
}

figure, nav, ul, li{
    display: inline;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
#btn-entrar{
    background-color: rgb(12, 12, 12);
    border-radius: 2px;
}
#btn-entrar:hover{
    background-color: blue;
}
div{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 2px solid red;
    background-color: yellowgreen;
}
nav{
    position: fixed;
    top: 50px;
    left: 300px;
}
img{
    padding: 10px;
}
main {
    background-color: blueviolet;
}
footer {
    background-color: bisque;
}